$orange: #F58220;
$bg: #F5F5F2;
$dark_grey: #191919;
$light_grey_side: #282828;
$blue: #56819F;
$green: #59B66D;
$light_grey: #ACACAC;
$white: #fff;

$breakpoints: (
    'xsmall':  ( max-width:  766px ),
    'small':  ( min-width:  767px ),
    'medium': ( min-width:  992px ),
    'large':  ( min-width: 1200px )
) !default;

h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    color: $light_grey;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    color: $light_grey;
    margin: 0;
    padding: 0;
}
h4 {
    text-transform: uppercase;
}
.section-shadow {
    box-shadow: 1px 1px 10px $light_grey;
}
p {
    padding: 0;
    margin: 0;
}