@import "variables";

body {
    margin: 0 auto;
    background-color: $bg;
}

.row::before,
.row::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.row:after {
    clear: both;
}

/*grid*/
[class*='col-'] {
	float: left;
    Min-height: 1px;
}
* {
    box-sizing: border-box;
}
.col-1 {width: 6.66%;}
.col-2 {width: 13.33%;}
.col-3 {width: 20%;}
.col-4 {width: 26.66%;}
.col-5 {width: 33.33%;}
.col-6 {width: 40%;}
.col-7 {width: 46.66%;}
.col-8 {width: 53.33%;}
.col-9 {width: 60%;}
.col-10 {width: 66.66%;}
.col-11 {width: 73.33%;}
.col-12 {width: 80%;}
.col-13 {width: 86.66%;}
.col-14 {width: 93.33%;}
.col-15 {width: 100%;}




.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 6.66%;}
.col-offset-2 {margin-left: 13.33%;}
.col-offset-3 {margin-left: 20%;}
.col-offset-4 {margin-left: 26.66%;}
.col-offset-5 {margin-left: 33.33%;}
.col-offset-6 {margin-left: 40%;}
.col-offset-7 {margin-left: 46.66%;}
.col-offset-8 {margin-left: 53.33%;}
.col-offset-9 {margin-left: 60%;}
.col-offset-10 {margin-left: 66.66%;}
.col-offset-11 {margin-left: 73.33%;}
.col-offset-12 {margin-left: 80%;}
.col-offset-13 {margin-left: 86.66%;}
.col-offset-14 {margin-left: 93.33%;}
.col-offset-15 {margin-left: 91.66%;}

.container {
    width:1280px;
}
.sidebar {
    background-color: $dark_grey;
    color: $light_grey;
    
    ul{
        padding: 0;
        li {
            list-style-type: none;
            padding: 15px 15px;
            
            &:hover {
                background-color: $light_grey_side;
                border-left: 5px solid $orange;
                color: $white;
            }
        }
    }
}   
.nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    height: 50px;
    background-color: $white;
}
.nav-padding {
    padding: 10px 10px 15px 10px;
}
.nav-padding-quit {
    padding: 10px 25px 15px;
}
.nav-person {
    display: flex;
    flex-direction: row;
    color: $blue;
    p {
        margin: 0;
        padding: 0 15px 0 10px;
    }
}
.nav-money {
    display: flex;
    flex-direction: row;
    p {
        margin: 0;
        padding: 0 15px 0 10px;
    }
}
.nav-border {
    border-left: solid 1px $light_grey;
}
.general {
    margin: 17px;
    background-color: $white;
}
.line {
    border-bottom: solid 1px $light_grey;
}
.icon {
    height: 15px;
    width: 15px;
}