@import "../variables";
.icon {
    height: 15px;
    width: 15px;
}
.sidebar-icon {
    filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(189deg) brightness(83%) contrast(86%);
    &li:hover .icon {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(350deg) brightness(106%) contrast(101%);
    }
}
.btn {
    border: none;
    border-radius: 5px;
}
.btn-orange {
    background-color: $orange;
    color: $white;
    border: 3px $orange solid;
    &:hover {
        border: 3px $orange solid;
        background-color: $white;
        color: $orange; 
    }
}
.btn-grey {
    background-color: $bg;
    color: $light_grey;
    border: 3px $bg solid;
    &:hover {
        border: 3px $white solid;
        background-color: $white;
        color: $blue; 
    }
}
.btn-large {
    margin: 25px 5px;
    padding: 17px;
}

.btn-refresh {
    margin-left: 10px;
    height: 40px;
    width: 40px;
    background-color: $orange;
}