@import "../variables";
@import "../mixins";
.icon {
    height: 15px;
    width: 15px;
}

.sidebar-icon {
    filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(189deg) brightness(83%) contrast(86%);
    &li:hover .icon {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(350deg) brightness(106%) contrast(101%);
    }
}

.component--fas-white {
    color: $white;
    &:hover {
        color: $light_grey;
    }
}

.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-orange {
    background-color: $orange;
    color: $white;
    border: 3px $orange solid;
    &:hover {
        border: 3px $orange solid;
        background-color: $white;
        color: $orange;
    }
}

.btn-grey {
    background-color: $bg;
    color: $light_grey;
    border: 3px $bg solid;
    &:hover {
        border: 3px $bg solid;
        background-color: $white;
        color: $blue;
    }
}

.btn-d_grey {
    background-color: $light_grey;
    color: $white;
    border: 3px $light_grey solid;
    &:hover {
        border: 3px $light_grey solid;
        background-color: $white;
        color: $light_grey;
    }
}

.btn-large {
    margin: 25px 5px;
    padding: 17px;
}

.btn-refresh {
    margin-left: 10px;
    height: 40px;
    width: 40px;
    background-color: $orange;
}

//date form 
.component--date {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.component--date-form {
    border: none;
    &:last-of-type {
        border-left: 1px solid $light_grey;
        padding-left: 15px;
    }
}

.component--date-row {
    border: 1px solid $light_grey;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.component--table {
    thead {
        th {
            padding: 25px 0;
            border-bottom: 2px solid #000;
            color: $light_grey;
            font-size: 10px;
            @include respond-to("small") {
                font-size: 12px;
            }
        }
    }
    tbody {
        td {
            padding: 25px 0;
            border-bottom: 2px solid $bg;
            font-size: 10px;
            font-weight: bold;
            @include respond-to("small") {
                font-size: 12px;
                font-weight: 500;
            }
            @include respond-to("large") {
                font-size: 14px;
                font-weight: 500;
            }
        }
        tr {
            &:hover {
                background-color: $bg;
                cursor: pointer;
            }
        }
    }
}