@import "../variables";
.links {
    padding: 20px 0;
    &:hover {
        background-color: $bg;
    }
    &:hover img {
        visibility: visible;
        cursor: pointer;
    }
    img {
        visibility: hidden;
    }
}