@import "../variables";
@import "../mixins";

.nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    height: 50px;
    background-color: $white;
    position: sticky;
    top: 0;
    div {
        &:hover {
            background-color: $bg;
            cursor: pointer;
        }
    }
    @include respond-to("xsmall") {
        display: none;
    }
}
.nav-padding {
    padding: 10px 10px 15px 10px;
}
.nav-padding-quit {
    padding: 10px 25px 15px;
}
.nav-person {
    display: flex;
    flex-direction: row;
    color: $blue;
    p {
        margin: 0;
        padding: 0 15px 0 10px;
    }
}
.nav-money {
    display: flex;
    flex-direction: row;
    p {
        margin: 0;
        padding: 0 15px 0 10px;
    }
}
.nav-border {
    border-left: solid 1px $light_grey;
}